body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: black;
  background-color: #fdb813;
  margin-top: 50px;
  padding: 50px;
  border-radius: 4px;
  width: 100%; /* Make the heading full width */
}

.signup_container {
  display: flex;
  justify-content: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 20px; /* Add margin below the form */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center the button horizontally within the form */
}

.signup-button:hover {
  background-color: #45a049;
}

/* Styles for the login link */
.login-link {
  text-align: center;
}

.login-link a {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.login-link a:hover {
  color: #555;
}

.signup-username-condition {
font-size: small;
list-style:circle;
}
