{% extends 'base.html' %} {% load static %} {%block extrahead %}
<link rel="stylesheet" href="{% static 'css/bookingStyle.css' %}" />
{% endblock extrahead %} {% block content %}

{% if user.is_authenticated and not user.is_staff %}
<form method="POST" class="hero-form">
  {% csrf_token %}
  {% for rideSearch in ride_Search %}
  <div class="input-wrapper">
    <label for="ride-type" class="input-label">Ride Type</label>
    <select id="ride-type" name="ride-type_b" class="input-field">
      <option value="solo" {% if rideSearch.ride_type == "solo" %} selected {% endif %} >Solo Trip</option>
      <option value="pool" {% if rideSearch.ride_type == "pool" %} selected {% endif %} >Pool Trip</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-2" class="input-label">Amount</label>

    <input
      type="text"
      name="ride-pay_b"
      id="input-2"
      class="input-field"
      placeholder="Add an amount in ₹"
      value="{{ rideSearch.propose_fare }}"
    />
  </div>

  <div class="input-wrapper">
    <label for="input-3" class="input-label">Pick-Up</label>
    <select id="start-location" name="start-location_b" class="input-field">
      <option value="Pune Railway Station" {% if rideSearch.pickup == "Pune Railway Station" %} selected {% endif %} >Pune Railway Station</option>
      <option value="Pune International Airport" {% if rideSearch.pickup == "Pune International Airport" %} selected {% endif %}>Pune International Airport</option>
      <option value="Phoenix Mall,Pune" {% if rideSearch.pickup == "Phoenix Mall,Pune" %} selected {% endif %}>Phoenix Mall, Pune</option>
      <option value="Christ University,Pune" {% if rideSearch.pickup == "Christ University,Pune" %} selected {% endif %}>Christ University, Pune</option>
      <option value="Swargate Bus Stop" {% if rideSearch.pickup == "Swargate Bus Stop" %} selected {% endif %}>Swargate Bus Stop</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-3" class="input-label">Destination</label>
    <select id="end-location" name="end-location_b" class="input-field">
      <option value="Pune Railway Station" {% if rideSearch.drop == "Pune Railway Station" %} selected {% endif %} >Pune Railway Station</option>
      <option value="Pune International Airport" {% if rideSearch.drop == "Pune International Airport" %} selected {% endif %}>Pune International Airport</option>
      <option value="Phoenix Mall,Pune" {% if rideSearch.drop == "Phoenix Mall,Pune" %} selected {% endif %}>Phoenix Mall, Pune</option>
      <option value="Christ University,Pune" {% if rideSearch.drop == "Christ University,Pune" %} selected {% endif %}>Christ University, Pune</option>
      <option value="Swargate Bus Stop" {% if rideSearch.drop == "Swargate Bus Stop" %} selected {% endif %}>Swargate Bus Stop</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-3" class="input-label">Capacity</label>
    <select id="carCapacity" name="carCapacity_b" class="input-field">
      <option value=""></option>
      <option value="4"{% if carCapacity == "4" %} selected {% endif %}>4</option>
      <option value="5"{% if carCapacity == "5" %} selected {% endif %}>5</option>
      <option value="6"{% if carCapacity == "6" %} selected {% endif %}>6</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-2" class="input-label">Ride Date</label>
    <input
      type="date"
      name="tripDate_b"
      id="inputdate"
      class="input-field"
      value="{{ rideDate }}"
    />  
  </div>
  <button type="submit" class="btn" name="booking" value="search">Search</button>
</form>


<table class="custom-table">
    <thead>
        <tr>
        <th class="header-cell">Car ID</th>
        <th class="header-cell">Available Seats</th>
        <th class="header-cell">Car</th>
        <th class="header-cell">Start Location</th>
        <th class="header-cell">End location</th>
        <th class="header-cell">Fare</th>
        <th class="header-cell">Available</th>
        </tr>
    </thead>
    {% if rideType == "pool" %}
    <tbody>
    {% for poolcabav in availPoolRides %}
        <tr class="data-row">
          <td class="data-cell">{{ poolcabav.carID }}</td>
          <td class="data-cell">{{ poolcabav.seats_booked }} / {{ poolcabav.carCapacity }}</td>
          {% for cabav in carsAvail %}
          {% if cabav.carID == poolcabav.carID %}
          <td class="data-cell">{{ cabav.carModel }}</td>
          {% endif %} {% endfor %}
          <td class="data-cell">{{ poolcabav.start_location }}</td>
          <td class="data-cell">{{ poolcabav.end_location }}</td>
          <td class="data-cell">{{ poolcabav.booking_fare_pu }}</td>
          <form method="POST">
            {% csrf_token %}
            <td class="data-cell status-cell">
                <button type="submit" name="booking" value="{{ poolcabav.carID }}" class="status-badge deleted">BOOK</span>
            </td>
          </form>
    {%endfor%}
    {% for cabav in cab_available %}
        <tr class="data-row">
        <td class="data-cell">{{ cabav.carID }}</td>
        <td class="data-cell">{{ cabav.availableCapacity }}</td>
        <td class="data-cell">{{ cabav.carModel }}</td>
        <td class="data-cell">{{ rideSearch.pickup }}</td>
        <td class="data-cell">{{ rideSearch.drop }}</td>
        <td class="data-cell actions-cell">
          {% if cabav.availableCapacity == 4 %}
          {{ cabFare }}
          {% endif %}
          {% if cabav.availableCapacity == 5 %}
          {{ cabFare|add:500 }}
          {% endif %}
          {% if cabav.availableCapacity == 6 %}
          {{ cabFare|add:600 }}
          {% endif %}
      </td>
      <form method="POST">
        {% csrf_token %}
        <td class="data-cell status-cell">
            <button type="submit" name="booking" value="{{ cabav.carID }}" class="status-badge deleted">BOOK</span>
        </td>
      </form>
        </tr>
    </tbody>
    {% endfor %}
    {% else %}
    {% for cabav in cab_available %}
        <tr class="data-row">
        <td class="data-cell">{{ cabav.carID }}</td>
        <td class="data-cell">{{ cabav.availableCapacity }}</td>
        <td class="data-cell">{{ cabav.carModel }}</td>
        <td class="data-cell">{{ rideSearch.pickup }}</td>
        <td class="data-cell">{{ rideSearch.drop }}</td>
        <td class="data-cell actions-cell">
          {% if cabav.availableCapacity == 4 %}
          {{ cabFare }}
          {% endif %}
          {% if cabav.availableCapacity == 5 %}
          {{ cabFare|add:500 }}
          {% endif %}
          {% if cabav.availableCapacity == 6 %}
          {{ cabFare|add:600 }}
          {% endif %}
      </td>
      <form method="POST">
        {% csrf_token %}
        <td class="data-cell status-cell">
            <button type="submit" name="booking" value="{{ cabav.carID }}" class="status-badge deleted">BOOK</span>
        </td>
      </form>
        </tr>
    </tbody>
    {% endfor %}




    {% endif %}
    {% endfor %}
</table>

{% elif user.is_authenticated and user.is_staff %}

<br><br><br>
<span style="text-align: center; color:#fdb813;"><h1>Active Rides</h1></span>
<table class="custom-table">
  <thead>
      <tr>
      <th class="header-cell">Car ID</th>
      <th class="header-cell">User ID</th>
      <th class="header-cell">Car</th>
      <th class="header-cell">Start Location</th>
      <th class="header-cell">End location</th>
      <th class="header-cell">Fare</th>
      <th class="header-cell">Ride Date</th>
      <th class="header-cell">Ride Status</th>
      </tr>
  </thead>
  {% for cabav in cab_available %}
  <tbody>
      <tr class="data-row">
      <td class="data-cell">{{ cabav.carID }}</td>
      <td class="data-cell">{{ cabav.userID }}</td>
      {% for cars in carsAvail %}
       {% if cars.carID == cabav.carID %}
        <td class="data-cell">{{ cars.carModel }}</td>
       {% endif %} {% endfor %}
      <td class="data-cell">{{ cabav.start_location }}</td>
      <td class="data-cell">{{ cabav.end_location }}</td>
      <td class="data-cell actions-cell">{{ cabav.booking_fare }}</td>
      <td class="data-cell actions-cell">{{ cabav.trip_date }}</td>
    <form method="POST">
      {% csrf_token %}
      <td class="data-cell status-cell">
          <button type="submit" name="booking" value="{{ cabav.carID }};{{ cabav.trip_date }}" class="status-badge deleted">ACTIVE</span>
      </td>
    </form>
      </tr>
  </tbody>
  {% endfor %}
  {% for cabav in pool_cab_available %}
  <tbody>
      <tr class="data-row">
      <td class="data-cell">{{ cabav.carID }}</td>
      <td class="data-cell">{{ cabav.userID }}</td>
      {% for cars in carsAvail %}
       {% if cars.carID == cabav.carID %}
        <td class="data-cell">{{ cars.carModel }}</td>
       {% endif %} {% endfor %}
      <td class="data-cell">{{ cabav.start_location }}</td>
      <td class="data-cell">{{ cabav.end_location }}</td>
      <td class="data-cell actions-cell">{{ cabav.booking_fare_pu }}</td>
      <td class="data-cell actions-cell">{{ cabav.trip_date }}</td>
    <form method="POST">
      {% csrf_token %}
      <td class="data-cell status-cell">
          <button type="submit" name="booking" value="{{ cabav.carID }};{{ cabav.trip_date }}" class="status-badge deleted">ACTIVE</span>
      </td>
    </form>
      </tr>
  </tbody>
  {% endfor %}
</table>

{% endif %}
{% endblock content %}
