{% extends 'base.html' %} {% load static %} {%block extrahead %}
<link rel="stylesheet" href="{% static 'css/bookingStyle.css' %}" />
{% endblock extrahead %} {% block content %}
<form method="POST" class="hero-form">
  {% csrf_token %}
  <div class="input-wrapper">
    <label for="ride-type" class="input-label">Ride Type</label>
    <select id="ride-type" name="ride-type" class="input-field">
      <option value="sedan">Solo Trip</option>
      <option value="suv">Pool Trip</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-2" class="input-label">Amount</label>

    <input
      type="text"
      name="ride-pay"
      id="input-2"
      class="input-field"
      placeholder="Add an amount in ₹"
    />
  </div>

  <div class="input-wrapper">
    <label for="input-3" class="input-label">Pick-Up</label>
    <select id="start-location" name="start-location" class="input-field">
      <option value="suv">Pune Railway Station</option>
      <option value="sedan">Pune International Airport</option>
      <option value="suv">Phoenix Mall, Pune</option>
      <option value="sedan">Christ University, Pune</option>
      <option value="suv">Swargate Bus Stop</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-3" class="input-label">Destination</label>
    <select id="end-location" name="end-location" class="input-field">
      <option value="suv">Pune Railway Station</option>
      <option value="sedan">Pune International Airport</option>
      <option value="suv">Phoenix Mall,Pune</option>
      <option value="sedan">Christ University,Pune</option>
      <option value="suv">Swargate Bus Stop</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-3" class="input-label">Capacity</label>
    <select id="carCapacity" name="carCapacity" class="input-field">
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="input-2" class="input-label">Ride Date</label>
    <input
      type="date"
      name="tripDate"
      id="inputdate"
      class="input-field"
    />
  </div>
  
  <button type="submit" class="btn">Search</button>
</form>


<table class="custom-table">
    <thead>
        <tr>
        <th class="header-cell">Ride Type</th>
        <th class="header-cell">Capacity</th>
        <th class="header-cell">Car</th>
        <th class="header-cell">Start Location</th>
        <th class="header-cell">End location</th>
        <th class="header-cell">Available</th>
        <th class="header-cell">Modify</th>
        </tr>
    </thead>
    {% for cabav in cab_available %}
    <tbody>
        <tr class="data-row">
        <td class="data-cell">{{ cabav.carID }}</td>
        <td class="data-cell">{{ cabav.availableCapacity }}</td>
        <td class="data-cell">{{ cabav.carModel }}</td>
        <td class="data-cell">{{Dynamic}}</td>
        <td class="data-cell">{{Dynamic}}</td>
        <td class="data-cell status-cell">
            <span class="status-badge deleted">BOOK</span>
        </td>
        <td class="data-cell actions-cell">
            <a href="#" class="action-link">Edit</a>
            <a href="#" class="action-link">Remove</a>
        </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock content %}
