{% extends 'base.html' %}
{% load static %}
  {%block extrahead %}
  <link rel="stylesheet" href="{% static 'css/bookingStyle.css' %}">
  {% endblock extrahead %}

{% block content %}
</head>
<body>
    <table class="custom-table">
        <thead>
            <tr>
                <th class="header-cell">Ride Type</th>
                <th class="header-cell">Capacity</th>
                <th class="header-cell">Car</th>
                <th class="header-cell">Start Location</th>
                <th class="header-cell">End location</th>
                <th class="header-cell">Status</th>
                <th class="header-cell">Modify</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            <tr class="data-row">
                <td class="data-cell">{{Dynamic}}</td>
                <td class="data-cell">{{Dynamic}}</td>
                <td class="data-cell">{{Dynamic}}</td>
                <td class="data-cell">{{Dynamic}}</td>
                <td class="data-cell">{{Dynamic}}</td>
                <td class="data-cell status-cell"><span class="status-badge deleted">ACTIVE</span></td>
                <td class="data-cell actions-cell">
                    <a href="#" class="action-link">Edit</a>
                    <a href="#" class="action-link">Remove</a>
                </td>                
            </tr>
        
        </tbody>
    </table>
    
{% endblock content %}