{% extends 'base.html' %}
{% load static %}

{%block extrahead %}
<link rel="stylesheet" href="{% static 'css/userStyle.css' %}" />
{% endblock extrahead %}

{% block content %}
<div id="container">       
    <div id="sidebar">
        <img id="profile-img" src="/static/images/personImage.png" alt="Profile Image">
        <div id="name-section">{{ user_name }}</div>
            <a href="#" onclick="openContent('dbPage1.html')">Dashboard</a>
            <a href="#" onclick="openContent('bookingHistory.html')">Booking History</a>
            <a href="#" onclick="openContent('userStyle.html')">Review</a>
        <button id="logout" onclick="logout()">Logout</button>
    </div>

    <div id="content">
        <iframe id="contentFrame" src="" frameborder="0"></iframe>
    </div>
</div>

<script>
    function openContent(url) {
        document.getElementById('contentFrame').src = url;
    }
</script>

{% endblock content %}


