{% extends 'base.html' %} {% load static %} {%block extrahead %}
<link rel="stylesheet" href="{% static 'css/userStyle.css' %}" />
{% endblock extrahead %} {% block content %} {% csrf_token %}
<div class="menu">
  <ul>
    <li class="profile">
      <div class="img-box">
        <img src="{% static 'images/personImage.png' %}" alt="profile_image" />
      </div>
      <h2>Welcome {{ user.first_name }}</h2>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-home"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-car"></i>
        <p>Previous Ride</p>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-star"></i>
        <p>Reviews</p>
      </a>
    </li>

    <li>
      <form method="POST" action="/signout" class="log-out">
        {% csrf_token %}
        <button type="submit" id="signout" name="signout" style="height: 60px; width: 170px;">
          <i class="fas fa-sign-out"></i>
          <p>Log Out</p>
        </button>
      </form>
    </li>
  </ul>
</div>

<div class="content">
  <div class="title-info">
    <p>Dashbord</p>
    <i class="fas fa-chart-bar"></i>
  </div>
  <div class="data-info">
    <div class="box">
      <i class="fa-solid fa-car"></i>
      <div class="data">
        <p>Total Rides</p>
        <span>16</span>
      </div>
    </div>
    <div class="box">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <div class="data">
        <p>Amount Spent</p>
        <span>15</span>
      </div>
    </div>
    <div class="box">
      <i class="fa-solid fa-location-dot"></i>
      <div class="data">
        <p>Most Visited</p>
        <span>Lavasa</span>
      </div>
    </div>
    <div class="box">
      <i class="fa-solid fa-thumbs-down"></i>
      <div class="data">
        <p>Dislikes</p>
        <span>2</span>
      </div>
    </div>
  </div>
  <div class="title-info">
    <p>Recent Rides</p>
    <i class="fas fa-table"></i>
  </div>
  <table>
    <thead>
      <tr>
        <th>Car</th>
        <th>Distance</th>
        <th>Fare</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Swift</td>
        <td><span class="distance">60 Km</span></td>
        <td><span class="fare">₹ 30</span></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
