{% extends 'base.html' %}
  {% load static %}
  {%block extrahead %}
  <link rel="stylesheet" href="{% static 'css/aboutUsStyle.css' %}">
  {% endblock extrahead %}
    
{% block content %}
  <div class="about-section">
    <h1>About Us</h1>
    <p><h5>We at Car Pool bring together individuals with common destinations<h5></p>
    <p><h5>by nurturing a sense of community-driven travel and reducing the environmental impact of multiple vehicles on the road.</h5></p>
  </div>
        
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static 'images/shubhamImg.jpg' %}" alt="Shubham" style="width:100%">
        <div class="container">
          <h2>Shubham Kumar</h2>
          <p class="title">Student@Christ University</p>
          <p>Pursuing Msc. Data Science at CHRIST(Deemed to be University)</p>
          <p>shubham.kumar@msds.christuniversity.in</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="{% static 'images/ThamizhanbuImage.jpg' %}" alt="Thamizhanbu" style="width:100%">
        <div class="container">
          <h2>Thamizhanbu E</h2>
          <p class="title">Student@Christ University</p>
          <p>Pursuing Msc. Data Science at CHRIST(Deemed to be University)</p>
          <p>thamizhanbu.e@msds.christuniversity.in</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="{% static 'images/trikalagga-image.jpg' %}" alt="Trikalagga" style="width: 100;" > 
        <div class="container">
          <h2>Trikalagga Saha</h2>
          <p class="title">Student@Christ University</p>
          <p>Pursuing Msc. Data Science at CHRIST(Deemed to be University)</p>
          <p>trikalagga.saha@msds.christuniversity.in</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>  
{% endblock content %}